{% extends "base.html" %}
{% load static %}

{% block content %}

<main>
    
    <header class="py-5">
        <div class="p-5 container bg-light" style="min-height:705px">
            <h1 class"">Website Under Construction</h1>
            <p>We're working hard to bring you an amazing experience. Please check back soon!</p>
            <div class="progress-bar">
                <div class="progress"></div>
            </div>
            <p>Progress: <span id="progress-percentage">0%</span></p>
        </div>
       
    </header>
</main>

{% endblock  %}
